.nav__btn button:hover {
  background: #f0f2f5 !important;
}

h2 {
  color: black;
}

nav .btn {
  color: rgb(104, 103, 103);
  height: 55px;
  width: 120px;
}

.link a {
  margin-top: 3px;
  color: rgb(153, 152, 152);
  padding: 15px 10px 15px 10px;
  border-radius: 6px;
}

.link a:hover {
  background-color: #d9dbde;
}

#post {
  color: rgb(100, 100, 245);
  border-radius: 0%;
  border-bottom: 3px solid rgb(100, 100, 245);
}

.bgg {
  height: 200px;
}

.list-work a {
  text-decoration: none;
  margin-left: 2%;
}

.list-work a:hover {
  text-decoration: underline;
}

.list-work img {
  margin-right: 2%;
}

.globe {
  text-decoration: none;
}

.globe:hover {
  text-decoration: underline;
}

.inputt::placeholder {
  text-align: start;
}

.avt {
  width: 32px !important;
  height: 32px !important;
}

.css-18k2bs-MuiAvatar-root {
  width: 32px !important;
  height: 32px !important;
  font-size: 14px !important;
}

.css-1sx06gy-MuiAvatarGroup-root {
  justify-content: flex-end !important;
}

.setting_profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* d-flex flex-column justify-content-end align-items-end */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .head_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .head_profile > .col-12 {
    display: flex;
    justify-content: center;
  }
  .head_profile > .col-12 > .col-12 {
    display: flex;
    justify-content: center;
  }

  .box_profile {
    align-items: center;
    gap: 4px !important;
  }

  .setting_profile {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 4px;
  }
}
